h2 {
            color: rgb(0, 60, 0);
        }  

h1 {
           font-family: Verdana,Geneva,sans-serif;
}
        
        body {
            background-color: lightblue;
     
        }

#aboutme-page {
            background-image: url("myBackround.jpg");
            background-size: cover;
            
}

#white-background {
            background: white;
            width: 1024px;
            
}

#buttons-background {
            background-color: rgb(0, 0, 93);
            width: 1024px;
}

#manu {
          
}
#nav-table { width: 1024px;}
