h2 {
            color: (0, 0, 0);
            font-family: Verdana,Geneva,sans-serif;
        }  

h1 {
           font-family: Verdana,Geneva,sans-serif;
}
        
        body {
            background-color: lightblue;
     
        }

th {
           
            font-family: Verdana,Geneva,sans-serif;
}
#aboutme-page {
            background-image: url("myBackround.jpg");
            background-size: cover;
            
}

#white-background {
            background: white;
            width: 1024px;
            
            
}

#buttons-background {
            background-color: rgb(0, 0, 93);
            width: 1024px;
}

#ben {
            float: left;
}
#nav-table { width: 1024px;}
