h2 {
            color: rgb(0, 60, 0);
        }  

h1 {
            font-family: "Verdana";
}
        
        body {
            background-color: rgb(38, 145, 255);
        }

div {
            background: white;
            width: 1024px;
            
}

#div-buttons {
            background: rgb(0, 0, 123);
            width: 1024px;
}
#nav-table { width: 1024px;}
